:root{
    --white: #cccccc;
    --background: #1b262c;
}
* {
    box-sizing: border-box;
}
body{
    background-color: var(--background);
}
#container {
    border-radius: 5px;
    background-color: rgb(34, 56, 73);
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 12px 24px 0 rgba(0, 0, 0, 0.5);
}
#submit {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
#submit:hover {
    opacity: 1;
}
input[type=text], #message {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: var(--white);
}
#header{
    color: var(--white);
}