body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1b262c;
}
.music-container{
    width: 95%;
    height: 12em;
    background-color: rgb(34, 56, 73);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}
.music-container .info{
    color: #f2f2f2;
}
.navigation-container{
    overflow: hidden;
    background-color: rgb(34, 56, 73);
    top: 0;
    width: 100%;
    position: sticky;
}
.navigation-container a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.music-container .image{
    width: 10em;
    height: 10em;
    margin: 1em;
}
.navigation-container a#active{
    background-color: black;
    color: coral;
}
.navigation-container a:hover{
    background-color: rgb(34, 56, 73);
    color: #f2f2f2;
}
.pagination a {
    color: #f2f2f2;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination{
    display: inline-block;
}
.pagination a.active {
  background-color: rgb(34, 56, 73);
  color: #f2f2f2;
}
.center {
    text-align: center;
}
#audioPLayer{
    width: 100%;
    position: fixed;
    bottom: 5px;
}