.music-container{
    width: 95%;
    height: 12em;
    background-color: turquoise;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
}
.music-container .image{
    width: 10em;
    height: 10em;
    margin: 1em;
}