body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #1b262c;
}
.music-container{
    width: 95%;
    height: 12em;
    background-color: rgb(34, 56, 73);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.music-container .info{
    color: #cccccc;
    float:left; 
}
.navigation-container{
    overflow: hidden;
    background-color: rgb(34, 56, 73);
    top: 0;
    width: 100%;
    position: sticky;
}
.navigation-container a{
  float: left;
  color: #cccccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.music-container .image{
    width: 10em;
    height: 10em;
    margin: 1em;
}
.navigation-container a#active{
    background-color: black;
    color: coral;
}
.navigation-container a:hover{
    background-color: rgb(34, 56, 73);
    color: #cccccc;
}
.pagination a {
    color: #cccccc;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination{
    display: inline-block;
}
.pagination a.active {
  background-color: rgb(34, 56, 73);
  color: #cccccc;
}
.center {
    text-align: center;
}
#audioPLayer{
    width: 100%;
    position: fixed;
    bottom: 5px;
}
.title {
    padding: 10px;
    font-size: 30px;
}
.artist{
    padding: 20px;
}