:root{
    --white: #cccccc;
    --background: #1b262c;
    --second: rgb(34, 56, 73);
}
* {
    box-sizing: border-box;
}
body{
    background-color: #1b262c;
}
#container{
    color: var(--white);
    width: 500px;
    background-color: var(--second);
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    font-family: arial;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 12px 24px 0 rgba(0, 0, 0, 0.5);
}
#info-container{
    display: table;
}
#image{
    width: 100%;
}
#username{
    font-size: 30px;
}
#name, #signupDate{
    color: rgb(180, 180, 180);
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: var(--white);
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover, a:hover {
    opacity: 0.7;
  }