:root{
    --white: #cccccc;
    --background: #1b262c;
    --second: rgb(34, 56, 73);
}
body{
    background-color: #1b262c;
    f
}
#container {
    padding: 16px;
    background-color: var(--second);
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5), 0 12px 24px 0 rgba(0, 0, 0, 0.5);
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: var(--white);
}
* {
    box-sizing: border-box;
}
#submit {
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
#submit:hover {
    opacity: 1;
}
a{
    margin: 5px;
}
a:link, a:visited {
    background-color: #4e4e4e;
    color: var(--white);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
a:hover, a:active {
    background-color: #4e4e4e;
}
li{
    color: var(--white);
    list-style-type: none;
}
p{
    color: var(--white);
}
.inline{
    display: inline-block;
}