<!DOCTYPE html >
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/home.css">
    <title>Make da music laoder</title>
  </head>
  <body>
    <div class="navigation-container">
      <a th:href="@{/login}">Login</a>
      <a th:href="@{/signup}">Signup</a>
      <a th:href="@{/upload}">Upload</a>
      <a th:href="@{/about}">About</a>
    </div>
      <div class="music-container" th:each="song: ${songs}">
          <img class="image" th:src="@{song.imageUrl}" alt="" th:data-url="@{song.audioUrl}" />
          <h6 class="title" th:text="${song.title}"></h6>
          <h6 class="artistName" th:text="${song.artistName}"></h6>
      </div>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
