<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/register.css">
    <title>You won't regret it</title>
</head>
<body>
    <div id="container">
        <form action="/user" th:object="${user}" method="post">
            <input type="text" th:field="*{firstName}" placeholder="First Name"/>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</p>

            <input type="text" th:field="*{username}" placeholder="Username"/>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{firstName}">Username error</p>

            <input type= "email" th:field="*{email}" placeholder="Emil"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{firstName}">Email error</p>

            <input type="password" th:field="*{password}" placeholder="Password"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{firstName}">Password error</p>

            <input type="password" th:field="*{matchingPassword}" placeholder="Rewite Password"/>
            <p th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">Password doesn't matches error</p>

            <input id="submit" type="submit" value="Submit">
        </form>

        <a th:href="@{/login}">Already have an account?</a>
    </div>
</body>
</html>